[submodule ".vim/snippets"]
  path = .vim/snippets
  url = git@github.com:sickill/snipmate-snippets.git
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
