Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

! Xcursor*theme: Vanilla-DMZ-AA
! Xcursor.size:  22

URxvt.geometry: 120x40
URxvt.termName: rxvt

URxvt.font: xft:Droid\ Sans\ Mono:size=9
URxvt*xftAntialias: true

URxvt*depth:24
URxvt*transparent: true
URxvt*shading: 15
!urxvt*fading: 15
! urxvt*inheritPixmap: True
!URxvt*tintColor: black
URxvt*foreground: #BABDB7
URxvt*background: black
!URxvt*background: rgba:0000/0000/0000/dddd
! URxvt*buffered:false

URxvt.cursorBlink: true

URxvt.saveLines: 32767
urxvt*scrollTtyKeypress: true
urxvt*scrollTtyOutput: false
urxvt*scrollWithBuffer: true
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
Uxvt*jumpScroll: True
!urxvt*scrollBar: False
!urxvt.scrollColor: green

URxvt*urlLauncher: chromium
*matcher.button: 1
URxvt*perl-ext-common: default,matcher,searchable-scrollback
URxvt.matcher.rend.0: Uline Bold fg8
! IRC*perl-ext-common: default,matcher

urxvt*imLocale: pl_PL.UTF-8
URxvt.urgentOnBell: true
URxvt*skipBuiltinGlyphs: true
urxvt*cutchars: "()*,<>[]{}|''"
urxvt*print-pipe: cat > $(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
urxvt*mapAlert: true

! tabs
URxvt.tabbed.tabbar-fg: 7
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    7
URxvt.tabbed.tab-bg:    4

xpdf*enableFreetype: yes
xpdf*antialias: yes
xpdf*foreground: black
xpdf*background: white
xpdf*urlCommand: chromium %s

! black
*color0: #000000
!*color0: #2E3436
! red
*color1: #CC0000
! green
*color2: #4E9A06
! yellow
*color3: #C4A000
! blue
*color4: #3465A4
! purple
*color5: #75507B
! cyan
*color6: #06989A
! white
*color7: #D3D7CF
! bright-black
*color8: #555753
! bright-red
*color9: #EF2929
! bright-green
*color10: #8AE234
! bright-yellow
*color11: #FCE94F
! bright-blue
*color12: #729FCF
! bright-purple
*color13: #AD7FA8
! bright-cyan
*color14: #34E2E2
! bright-white
*color15: #EEEEEC
